@charset "UTF-8";
/*	orders.jsp
-----------------------------------------------------------------------*/
#orders_view{
	width: 1100px;
	margin: 0 auto;
	text-align: center;
}
#orders_view table{
	border: 1px solid black;
	width: 100%;
}
#orders_view th{
	border: 1px solid black;
}
#orders_view td{
	border: 1px solid black;
}