@charset "UTF-8";

section{
    text-align: center;
}
section table{
	margin: 0 auto;
    width: 300px;
    text-align: center;
}
table select{
    width: 180px;
}  
select option{
    text-align: center;
}